.discount_offer_inner {
  margin: 5px 0;
  position: relative;
}
.discount_offer_text {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #fff;
}
.discount_offer_inner h5 {
  margin: 0;
  width: 150px;
}
.discount_offer_inner a {
  background-color: transparent;
  font-size: 13px;
  padding: 0;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  color: #fff;
  margin-top: 10px;
}
