@import url("./TopMenu.css");
@import url("./Navbar.css");
@import url("./homepage.css");
@import url("./Account.css");
@import url("./Footer.css");
:root {
  --white: #fff;
  --primary: #101823;
  --secondary: #fe2424;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--background);
  color: var(--foreground);
  position: relative;
  background: #f5f5f5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
